name: Snapit Cleanup

on:
  pull_request:
    types: [closed]

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  snapshot-cleanup:
    name: Delete snapshot branch after corresponding feature branch has merged
    if: github.event.pull_request.merged == true && github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node with v16.13.0
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'yarn'

      - name: Install Dependencies for osui-github actions
        working-directory: .github/actions
        run: yarn install --frozen-lockfile

      - name: Check for corresponding snapshot branch
        id: check-snapshot-branch
        uses: ./.github/actions/check-snapshot-branch
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FEATURE_BRANCH: ${{ github.head_ref }}

      - name: Delete corresponding snapshot branch
        if: ${{ steps.check-snapshot-branch.outputs.HAS_SNAPSHOT_BRANCH}}
        uses: ./.github/actions/delete-snapshot-branch
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FEATURE_BRANCH: ${{ github.head_ref }}